body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('../src/assets/images/bgmain.svg') no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.part1 {
  width: 86vw;
  margin: 0 auto;
  height: 140vh;
}

@media screen and (max-width:1044px) {
  .part1{
    height: 110vh;
  }
}
@media screen and (max-width:846px) {
  .part1{
    height: 100vh;
  }
}
@media screen and (max-width:690px) {
  .part1{
    height: 160vh;
  }
}

@media screen and (max-width:680px) {
  .part1{
    height: 240vh;
  }
}

@media screen and (max-width:389px) {
  .part1{
    height: 210vh;
  }
}
@media screen and (max-width:370px) {
  .part1{
    height: 205vh;
  }
}
@media screen and (max-width:340px) {
  .part1{
    height: 190vh;
  }
}
@media screen and (max-width:293px) {
  .part1{
    height: 175vh;
  }
}